<template name="communityEdit">
    {{#with community}}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=" box_style_2">
                        <span class="tape"></span>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{i18n 'community.editLabel'}}</h3>
                            </div>
                        </div>
                        <div class="mtl mbl">
                            {{> communityUploadImage}}
                        </div>
                        {{> quickForm collection="Colls.Communities" doc=. id="editCommunityForm" type="update" buttonClasses="button_subscribe_green"}}
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="communityUploadImage">
    <input type="file" class="js-community-upload-input" style="display: none">
    {{#with communityFileObj}}
        <div>
            <img src="{{url}}" alt="">
        </div>
    {{/with}}
    <div>
        <button class="mtm button_subscribe_green js-community-upload">Upload image</button>
    </div>
</template>
