{
    "env": {
        "meteor": true,
        "browser": true,
        "jquery": true,
        "node": true
    },
    "rules": {
        "no-bitwise": 2,
        "no-else-return": 2,
        "no-eq-null": 2,
        "no-extra-parens": 0,
        "no-floating-decimal": 2,
        "no-inner-declarations": [2, "both"],
        "no-lonely-if": 2,
        "no-multiple-empty-lines": [2, {"max": 3}],
        "no-self-compare": 2,
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
        "no-unused-expressions": 0,
        "no-void": 2,
        "brace-style": [2, "1tbs"],
        "camelcase": [1, {"properties": "never"}],
        "consistent-return": 0,
        "comma-style": [2, "last"],
        "complexity": [1, 12],
        "func-names": 0,
        "global-strict": [2, "always"],
        "guard-for-in": 2,
        "indent": [2, 4],
        "max-len": [0, 120, 4],
        "new-cap": [2, {"newIsCap": true, "capIsNew": false}],
        "quotes": [2, "single"],
        "space-before-function-parentheses": [2, "always"],
        "space-after-keywords": [2, "always"],
        "space-before-blocks": [2, "always"],
        "space-in-brackets": [2, "never"],
        "space-in-parens": [2, "never"],
        "strict": [2, "global"],
        "valid-jsdoc": 2,
        "wrap-iife": [2, "any"],
        "yoda": [1, "never"]
    },
    "globals": {
        "_": false,
        "App": false,
        "Iron": false,
        "Router": false,
        "AutoForm": false,
        "SimpleSchema": false,
        "RouteController": false,
        "Router": false,
        "FS": false,
        "gapi": false,
        "gm": false,
        "i18n": false,
        "moment": false,
        "Colls": false,
        "RouteCtrls": true,
        "UniBlock": false,
        "UniDoc": false,
        "UniPlugin": false,
        "UniUser": false,
        "UniUsers": false,
        "UniProfile": false,
        "UniRiver": false,
        "UniMail": false,
        "UniCalendar": false,
        "UniCollection": false,
        "UniUtils": false,
        "UniConfig": false,
        "UniUI": false,
        "UniCMS": false,
        "UniHTML": false,
        "Blog": false,
        "EmailTemplates": false,
        "Project": false,
        "ProjectPost": false,
        "AccountsEntry": true,
        "ServiceConfiguration": false,
        "Roles": false,
        "ProfileAvatar": false,
        "SearchSource": false,
        "Chance": false,
        "Tabular": false,
        "UniChat": false,
        "Stripe": false,
        "StripeCheckout": false,
        "StripeAPI": false,
        "Schedules": false,
        "SyncedCron": false,
        "ReactiveMethod": false,
        "SSR": false,
        "GoogleApi": false,
        "autosize": false,
        "UniAnyJoin": false,
        "FB": false,
        "AutocompleteUsers": false,
        "UniHTML": false,
        "UniComments": false,
        "T9n": false,
        "uniNotifications": false,
        "SEO": false,
        "circleConcept": false,
        "EmailDrafts": false,
        "UniMessages": false
    }
}
