<template name="tasksEdit">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class=" box_style_2">
                    <span class="tape"></span>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{i18n 'tasks.editLabel'}}</h3>
                        </div>
                    </div>
                    {{> quickForm omitFields="course, createdAt" doc=task collection="Colls.Tasks" class="tasks-update-form" id="updateTasksForm" type="update" buttonClasses="button_subscribe_green"}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="tasksEditHeader">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h1>{{i18n 'tasks.editLabel'}}</h1>
        </div>
    </div>
</template>
