<template name="layoutFooter">
    <footer class="js-main-footer">
        <div class="container" id="nav-footer">
            <div class="row text-left hidden-xs">
                <div class="col-sm-3">
                    <h4>Learn more</h4>
                    <ul>
                        <li><a href="/community">Communities</a></li>
                        <li><a href="/page/about">About Us</a></li>
                        <li><a href="/page/faq">FAQs</a></li>
                        <li><a href="/page/terms">Terms of use</a></li>
                        <li><a href="/page/privacy">Privacy policy</a></li>
                        <li><a href="/page/community">Community guidelines</a></li>
                        <li class="copyrights-text">&copy; 2015 Learning Circle I/O Ltd.</li>
                    </ul>
                </div>
                <div class="col-sm-5">
                    <div class="quote-title">Students' quotes</div>
                    <ul class="quote-revolver">
                        <li>
                            <div class="quote-main">
                                "What stands out the most to me is the amazing lectures we had and our discussions. What I found interesting was the fact that everyone had something different to say and we could really learn from one another"
                            </div>
                            <div class="quote-author">
                                Carola, Italy
                            </div>
                        </li>
                        <li>
                            <div class="quote-main">
                                "I enjoyed meeting the other people who took the course and the fact that Online LC managed to find great minds to interact with while being at home. I loved hearing about other places. The level of engagement we had with each other was much higher than other online courses I have taken"
                            </div>
                            <div class="quote-author">
                                Zawer, Syria
                            </div>
                        </li>
                        <li>
                            <div class="quote-main">
                                "Online LC course is a journey in which you never stop learning: as a student you start being more aware of issues and their possible solutions, with a more international mindset. Even when the course ends you keep in touch with others from all over the world you met, as happened to me when I started United Youth Journalists to give young people a platform where they can express themselves. Last but not least as a mentor I am still learning thanks to the experiences all the students shared in the course."
                            </div>
                            <div class="quote-author">
                                Nada, Italy and Morocco
                            </div>
                        </li>
                        <li>
                            <div class="quote-main">
                                "It is great when you get the chance to come together with other people who share your interests and your passion. During the Online LC course I did not only get the chance to learn more about sustainability, but also to meet many interesting people from all over the world and to hear their stories."
                            </div>
                            <div class="quote-author">
                                Lara, Germany
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <ul id="follow_us">
                        <li>
                            <a href="https://www.facebook.com/onlineuwc">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/onlineuwc">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+OnlineuwcOrg/posts">
                                <i class="icon-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC0uvvvnUly2dQVesT2pBu8Q">
                                <i class="icon-youtube"></i>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li><strong class="phone">Need help?</strong></li>
                        <li><a href="/page/contact">Contact us!</a></li>
                    </ul>
                    <div class="fb-like pull-right" data-href="https://www.facebook.com/onlineuwc" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
                </div>
            </div>
        </div>
    </footer>
</template>
