<template name="static.about">

    {{#contentFor "header"}}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>About Us</h1>
            </div>
        </div>
    {{/contentFor}}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {{> staticAboutSidebar}}
            </div>
            <div class="col-sm-9">
                <h4>About Us</h4>
                <p>Learning Circle I/O Ltd. was founded in 2015 by Hanna Celina, an alumna of the United World Colleges (LC) schools <a href="http://uwc.org/">network</a>. Hanna had been running Online LC, a five-week online short course for young people on the subject of sustainable development, with a team of LC alumni since mid-2014. Learning Circle I/O Ltd. is Hanna’s vision to take what she and her colleagues learnt running Online LC, and make effective online education available to everyone, in a multitude of subjects, and to create a community of online learners.</p>
                <p>Learning Circle I/O Ltd. is an interactive online learning platform. We work with providers to create tailor-made courses in any field for any audience. Students sign up to take a course, but they also become part of the wider Learning Circle I/O Ltd. community, meaning that they not only learn about their course-topic and get to know their classmates through our interactive online course format, but they also get to be part of a global group of committed online citizens who are committed to education.</p>
                <p>Learning Circle I/O Ltd. is a Private Limited Company registered in the United Kingdom (company number assigned by Companies House is 09715512) but has students and participants from across the planet. It realizes its social mission with its commitment to fostering innovative approaches to education to create positive social change. We are also committed to providing equal access to our courses by offering at least 10% of places in each course with full or partial scholarships to all eligible candidates. While all proceeds from the courses are currently reinvested to support and expand operations of the company, we foresee that in the future we will also invest and donate a portion of our profits to support not for profit organisations that work to further the goals that are at the core of our corporate culture as a social enterprise.</p>
                <p>To learn more about our values, approach and the team behind Learning Circle I/O Ltd., click on the tabs to the left-hand side.</p>
            </div>
        </div>
    </div>

</template>
