<template name="static.approach">

    {{#contentFor "header"}}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>About Us</h1>
            </div>
        </div>
    {{/contentFor}}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {{> staticAboutSidebar active='approach'}}
            </div>
            <div class="col-sm-9">

<h4>Approach</h4>

<p>Technology and innovation are at the core of our approach to education. Students learn how to access and analyse all available information, and learn to understand bias embedded in data. Assignments are designed to suit the different talents of the student community, allowing them for creative expression using different media.</p>

<p>We are inspired by the idea that education can be student-led. We want to encourage our course participants to identify their own interests and grow as independent thinkers. With our unique flexible curriculum and assignment structure students can design a course that best fits their learning objectives. This approach allows the students to develop skills that are crucial in today’s world: teamwork, creativity, independence and adaptability.</p>

<p>We help students challenge the unknown, embrace complexity, and accept failure as a stepping stone. This is done through our five-week course format. While the day-to-day structure may vary, depending on the needs of the students and the course provider, each week tends to run as follows:</p>

<p>On the Sunday of the preceding week students receive a reading and video list for the coming week. This is usually composed of newspaper articles and/or Youtube videos (such as TED talks) related to the week’s topic.</p>

<p>On Wednesdays students receive a video lecture from an expert in the relevant field. Students can watch the lecture live and ask questions, or they can submit questions in advance and watch it later.</p>

<p>On Thursdays students take part in a ‘group session’, a video conference with a group of around 8 students. These group sessions are typically an hour long and usually also attended by a ‘mentor’. Mentors are volunteers, often former Learning Circle I/O Ltd. course participants, who have been trained to facilitate these group sessions, although students are encouraged to start taking a lead, by chairing meetings and taking notes. Depending on the course, some group sessions will not have a mentor, but will be self-organized. Instead, mentors will be on call as experts students can call upon to answer particular questions.</p>

<p>Following the group session, students are set assignments which they have to complete, often in collaboration with their fellow course participants, over the weekend. These assignments can be anything from making a creative introduction to themselves for the rest of the students on the course to producing an infographic or video on a particular subject.</p>

<p>Throughout the course we encourage students to get involved in their communities. Civic engagement of the students is at the heart of all our programmes; in most courses each student is encouraged to initiate and/or complete a community service project or social enterprise to apply the knowledge from our course.</p>

<p>We are committed to making our (anonymised) data available for as many people as possible, to take part in the ongoing conversation on online education. For that reason we aim to publish regular updates on our <a href="https://onlineuwc.wordpress.com/">blog</a> about the process of running the course, what we are learning and how we improve the course. You can read some of our old blog posts to see how we got on in the past.</p>

<p>To learn more about our values, approach and the team behind Learning Circle I/O Ltd., click on the tabs to the left-hand side.</p>


<p>We are committed to making our (anonymised) data available for as many people as possible, to take part in the fascinating developments that are currently ongoing in the world of online education. For that reason we aim to publish regular updates on our blog about the process of running the course, what we are learning and how we improve the course. You can read some of our old blog posts to see how we got on in the past.</p>

            </div>
        </div>
    </div>

</template>
