<template name="static.community">

    {{#contentFor "header"}}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Community guidelines</h1>
            </div>
        </div>
    {{/contentFor}}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Community guidelines</h4>
                <p>These are a number of guidelines that we have developed with previous course participants to help keep Learning Circle a safe, fun and productive learning environment. As well as complying with all relevant laws, students participating in Learning Circle courses and using the platform as a registered user will have to obey the following community standards:</p>
                <p>Act towards others as you wish others would act towards you.</p>
                <p>Provide honest and constructive feedback which fuels good discussions.</p>
                <p>Our differences allow us to learn from one another and help us creatively approach issues we face.</p>
            </div>
        </div>
    </div>

</template>
