<template name="static.how-it-works">

    {{#contentFor "header"}}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Help</h1>

                <p class="lead">Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo ad fierent insolens.</p>
            </div>
        </div>
    {{/contentFor}}

    {{> homeContent}}

<h4>Learning Circle - Setting Up</h4>
<p>For both our live-stream video lectures and group sessions you will need to use Google’s Hangouts feature. This is a free add-on to your internet browser or App for your smartphone or tablet that we have found works well for our courses.</p>

<p>First of all, you’ll need to sign in with a Google account. If you don’t have an @gmail.com email address and Google account you can create one for free <a href="https://accounts.google.com/signup">here</a>.</p>

<p>Your Google account doesn’t have to be your main email, but it will really make it easier to make sure that you can fully use the Hangouts feature that we use for our lectures and group sessions!</p>

<p>Using your Google account, go <a href="https://plus.google.com/hangouts">here</a> to download the relevant internet browser add-on or App for your smartphone or tablet. You will need to download it for each browser and device you use, for example for Chrome or Firefox on your laptop, but for your iPhone as well.</p>

<p>Especially on your internet browser, you may have to “Allow” Hangouts to use your camera, or to open a new window. Your internet browser should prompt you to do this.</p>

<p>Sometimes an internet security program, especially if you are using a Google account connected to a school, may prevent you from accessing Hangouts, if this is the case you should allow or ask your network administrator to allow the following domains: 
apis.google.com
*.client-channel.google.com
clients6.google.com
clients4.google.com
talkgadget.google.com
accounts.google.com
googleapis.com</p>

<p>If you have further issues that are not answered by the following guides, then check out Google’s Troubleshooting <a href="https://support.google.com/hangouts/known-issues/3139543?hl=en">page</a> for more advice or contact us. You can also try Google’s pre-call Hangout <a href="https://support.google.com/hangouts/answer/3110347?hl=en-GB">checks</a> , to make sure everything goes smoothly!
Or contact us.</p>

<p>Below you should be able to find a short walkthrough for everything you’re trying to do with Hangouts. Please note the following difference between Hangouts and Hangouts on Air: a Hangout is a private group video conference for up to 10 people. A Hangout on Air is like a Hangout but the video is also broadcast in real-time to your Google+ and Youtube accounts, for either a public or private (invited) audience to view. We use Hangouts on Air to hold our lectures.</p>

<h4>Mini guides</h4>

<p>Below are some mini guides we have prepared for you (they are prepared especially for laptop / desktop use - we will add a mobile guide soon!). Remember that for all of the following guides to be of use, you need to be signed in to your Google account.</p>
<ul>
<li>How to pre-submit a question for a lecture</li>
<li>How to watch a lecture live-stream lecture and ask a question in real time</li>
<li>How to watch a lecture after it has finished</li>
<li>How to create a Hangout starting immediately (for your group session)</li>
<li>How to create a future Hangout (for your group session)</li>
<li>How to invite someone into your Hangout</li>
<li>How to join a Hangout (for your group session)</li>
</ul>

<p><strong>How to pre-submit a question for a lecture</strong></p>

<p>Find the link to the lecture in your course’s section of the Learning Circle website. This will take you to the external event page for the lecture, on Google Plus.
At the event page you will see a small window where the lecture will play at its scheduled time. Click on the triangle ‘Play’ icon.</p>
<p>This will enlarge the video window. You can now click on the right hand side ‘Ask a new question!’ If ‘Ask a new question!’ is not there, you can try clicking on word ‘Questions’ which will give you the options of ‘Questions’ and ‘Answered questions’. Select ‘Questions’, and the ‘Ask a new question!’ button should reappear at the bottom right of the window.
Type in your question and hit ‘submit’.</p>

<p><strong>How to watch a lecture live-stream lecture and ask a question in real time</strong></p>

<p>Find the link to the lecture in your course’s section of the Learning Circle website. This will take you to the external event page for the lecture, on Google Plus.
At the event page you will see a video window. Click on the triangle ‘Play’ icon.
This will enlarge the video window. The lecture should be playing. You can now click on the right hand side ‘Ask a new question!’ If ‘Ask a new question!’ is not there, you can try clicking on word ‘Questions’ which will give you the options of ‘Questions’ and ‘Answered questions’. Select ‘Questions’, and the ‘Ask a new question!’ button should reappear at the bottom right of the window.
Type in your question and hit ‘submit’.
You can upvote other people’s questions by clicking on the ‘+1’ button. The more +1s a question has, the further up it will go.</p>

<p><strong>How to watch a lecture after it has finished</strong></p>

<p>There are two ways to watch a lecture after it has been broadcast.
The easiest way is to go to your course’s Youtube channel, where it will be available.
Alternatively, you can go to the Google Plus ‘event’ page where the lecture took place (where you either pre-submitted the question or watched the lecture live) and you will be able to watch it again here.</p>

<p><strong>How to create a Hangout starting immediately</strong></p>

<p>Go to http://plus.google.com/ and on the drop down menu on the left of the page click on ‘Hangouts’. At the next page, select ‘Video hangouts’. Click on ‘Start a video hangout’. This will open a Hangout window. Invite people either by sending them the link or typing their names into the invite box where it says ‘Add names, circles or email addresses’.</p>

<p><strong>How to create a future Hangout (for your group session)</strong></p>
<p>To schedule a Hangout for a future time and date go to http://calendar.google.com/ and create a new event. Click ‘create video call’. ‘Save’ the event. When you click on the event again this will contain the link to the hangout, under ‘Join video call’. Click on this link when you want to start the hangout.</p>

<p>H<strong>ow to invite someone into your Hangout</strong></p>
<p>When you are already in the hangout window, to invite others in, towards the top of the video window there will be small icon of a person with a ‘+’ symbol next to it. Click on this and it will give you both a link you can send to people, or you can type in their emails and Google will send an invite to them.</p>

<p><strong>How to join a Hangout (for your group session)</strong></p>
<p>In the Google Calendar event, either in your email inbox or in your <a href="http://calendar.google.com/">calendar</a>, click on ‘Join video call’. This will take you to the event.
Someone in the hangout can also send you a link to join. Clicking this link will take you to the hangout.
Someone in the hangout can also get Google to send you invite to join. You will receive this in your email. Click on ‘Join hangout’, this will take you to the hangout.</p>

</template>

