<template name="static.privacy">

    {{#contentFor "header"}}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Privacy Policy</h1>
            </div>
        </div>
    {{/contentFor}}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

<h4>Learning Circle I/O Ltd. Privacy Policy</h4>
<p>Please read this Privacy Policy carefully – by using the Website, the hangouts/video conferencing sessions and our social network links (henceforth referred to together as ‘Website’) you agree to our terms and conditions (including as amended from time to time). If, for any reason, you do not agree to the terms of this Privacy Policy, please stop using the Website immediately.
Unless otherwise defined in this Privacy Policy, terms used have the same meaning as in the <a href="/page/terms">Terms of Use</a>.</p>

<h4>1 - The Company</h4>
<p>In this Privacy Policy, references to “we” or “us” or “our” are to Learning Circle I/O Ltd. organizers. Learning Circle I/O Ltd. is a Private Limited Company registered in the United Kingdom.
    Company number assigned by Companies House is 09715512. You can contact us via the <a href="/page/contact">Contact Us</a> section of the website. You can also read more about the operational set-up of our courses in our <a href="/page/faq">FAQs</a>.</p>

<h4>2 - Legal Notice</h4>
<p>We will at all times only collect and process your personal information in accordance with the UK Data Protection Act 1998, the UK Privacy and Electronic Communications (EC Directive) Regulations 2003 and any other applicable data protection legislation.</p>

<h4>3 - Collection of Information</h4>
<p>3.1 When you access the Website, and post a note, send a message, upload a video, take part in a conference call, we may collect, store and use certain personal information that you voluntarily disclose to us.</p>
<p>3.2 When registering we ask for your: name, email address, country of residence, date of birth, place of birth, educational history, interests etc., as may apply. When you purchase a paid service, we will also collect your credit card or other payment details. If you contact us, we may also keep a record of that correspondence.</p>
<p>3.3 We may also collect your computer’s IP address.</p>
<p>3.4 Throughout the course we may also ask you to complete optional questionnaires and in-person interviews.</p>
<p>3.5 All data that will be collected, aggregated and analysed in the context of Newcastle University research on online courses will be held for a period of up to 5 years (overall website materials are expected to remain online for as long as Learning Circle I/O Ltd. exists unless removed by the user).</p>

<h4>4 - Use of Your Information</h4>
<p>By accessing the Website you agree that your information may be used by us for any of the following purposes:</p>
<p>(a) Facilitating the course you have signed up to participate in (e.g. by contacting you by email), this can be done by Learning Circle I/O Ltd. staff or course organizers;</p>
<p>(b) academic research on the topic of student led learning environment conducted by Hanna Celina (Learning Circle I/O Ltd. founder) in the scope of her PhD programme at Newcastle University (this research is funded by Newcastle University, and any complaints or concerns should be addressed to Patrick Olivier at <a href="mailto:Patrick.Olivier@Newcastle.ac.uk">Patrick.Olivier@Newcastle.ac.uk</a>, see point 7.4 below for more information;</p>
<p>(c) to improve the quality of the Website, including by conducting anonymized market research;</p>
<p>(d) to send you details of other products and services which we think may interest you;</p>
<p>(e) to manage your account that you hold with us;</p>
<p>(f) to send you email notifications and updates about our service;</p>
<p>(g) to promote the services of our company and its social missions (for example by promoting and monetizing content via our blog or our YouTube channel).</p>

<h4>5 - Storage of Information</h4>
<p>5.1 All information is stored on our servers. When you register, we will ask you to choose a password which enables you to access specific content. You are responsible for keeping this password confidential. We ask you not to share this password with anyone. We use external platforms such as Facebook and Google+/YouTube as part of the course. Make sure you also separately review their privacy policies.</p>
<p>5.2 In addition, we may also store or process information that we collect about you in countries outside the European Economic Area, which may have lower standards of data protection. We have put in place technical and organisational security measures to prevent the loss or unauthorized access of your personal information. However, whilst we have used our best efforts to ensure the security of your data, please be aware that we cannot guarantee the security of information transmitted over the Internet.</p>

<h4>6 - Disclosure of Your Information</h4>
<p>We may disclose your personal information to third parties:</p>
<p>(a) your name and locations will be disclosed to other members of the course and to the members of the Learning Circle I/O Ltd. community, though you can change what you share with the wider Learning Circle I/O Ltd. community; your name and address will not be disclosed without your explicit consent to any other third party partners, though anonymous statistical data of a sample of participants can be used by the Company as it sees fit (for example, for promotional materials or as mentioned, for academic research);</p>
<p>(b) if we are under a duty to disclose or share your information in order to comply with any legal obligation, or in order to enforce or apply our <a href="/page/terms">Terms</a> and other agreements; or to protect our rights, property, or safety, our users, or others.</p>

<h4>7 - Your Rights</h4>
<p>7.1 You have the right to contact us in order to find out what information we hold about you or to access, cancel or correct any information that we hold about you.</p>
<p>7.2 If you do not wish to receive emails from us, please contact us and let us know. You can do this through the <a href="/page/contact">Contact Us</a> section on our website.</p>
<p>7.3 The Website may, from time to time, contain links to and from the websites of third parties. If you follow a link to any of these websites, please note that these websites have their own privacy and cookie policies and terms of use and that we do not accept responsibility or liability of any of these policies. Please check these policies before you submit any personal information to these websites.</p>
<p>7.4 If at any point you would like to revoke your consent to participating in the Newcastle University study, please contact course organizers - we will exclude your qualitative responses (such as feedback form data, interviews etc.) from the study. If we exclude your qualitative responses from the study, we would like to continue to use anonymized statistics of your class participation and website usage in the study, however you may also exclude use of your anonymized data this way by contacting course organizers. You can do this through the <a href="/page/contact">Contact Us</a> section of our website.</p>

<h4>8 - Cookies</h4>
<p>8.1 The Website uses cookies. Cookies are small files sent by us and stored on your computer’s hard drive or your device’s memory which we can access when you visit our site in future. They are used to collect your personal information. You can find out more about what cookies are and how you can refuse them at <a href="http://www.aboutcookies.org/">http://www.aboutcookies.org/</a> and <a href="http://www.youronlinechoices.eu/">http://www.youronlinechoices.eu/</a>.</p>
<p>8.2 You may choose to refuse cookies but, if you do so, some of the functionality of the Website may no longer be available to you, as this allows you to sign up and pay for courses as well as allow us to customise the website to your personal preferences.</p>

<h4>9 - Updating the Privacy Policy</h4>
<p>9.1 We may update or amend this Privacy Policy from time to time, to comply with law or to meet our changing business requirements, without notice to you. Any updates or amendments will be posted on the Privacy Policy section of the Website.</p>
<p>9.2 By continuing to access the Website, you agree to be bound by the terms of these updates and amendments.</p>

            </div>
        </div>
    </div>

</template>
