<template name="static.team">

    {{#contentFor "header"}}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>About Us</h1>
            </div>
        </div>
    {{/contentFor}}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {{> staticAboutSidebar active='team'}}
            </div>
            <div class="col-sm-9">
                <h4>Team</h4>
                <p>The Learning Circle I/O Ltd. team are based primarily in London, UK, and have worked with developers and partners from around the world.</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box_style_3">
                            <p><img src="/img/hania.png" alt="" class="img-circle styled"></p>
                            <h4 class="p-title">Hanna Celina
                                <small>Online LC Founder</small>
                            </h4>
                            <p>I have always been passionate about both education and business. I have a bachelor’s in political science (my thesis was on politics of higher education) and a master’s in finance. I worked in a school as a teacher: art, English, photojournalism, business studies - you name it, I have likely taught it. During my business career, I have worked in corporate banking, financial and strategic analysis, but also in business development and consulting for start ups. I have recently started a PhD programme in Computer Science at Newcastle University, where together with Sugata Mitra and the team at Open Lab, I will be looking at ways to bring student-led learning to a wider audience. This project is my first step to do so.</p>
                            <p>You can read more about Hanna’s PhD in the “About the course” section of our <a href="/page/FAQ">FAQs</a>.</p>
                            <ul class="social_team">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-google"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box_style_3">
                            <p><img src="/img/robin.png" alt="" class="img-circle styled"></p>
                            <h4 class="p-title">Robin Tyne
                                <small>Learning Circle I/O Ltd. Administrator</small>
                            </h4>
                            <p>Learning Circle I/O Ltd. is everything I love: education and taking action to create a more peaceful and sustainable world. I love how we use the internet to transcend national boundaries to bring information and global exchange to anyone. Working online allows me to continue with my university studies in Arabic, Hebrew and Politics amongst other things. After helping Hanna set up and run Online LC in 2014, I took a break to concentrate on my studies, but I am now very excited to be back on board with Learning Circle I/O Ltd., which takes everything we have learnt from Online LC to the next level.</p>
                            <ul class="social_team">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-google"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
