<template name="static.terms">

    {{#contentFor "header"}}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Terms of Use</h1>
            </div>
        </div>
    {{/contentFor}}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

<h4>Learning Circle – Terms of Use</h4>
<p>Please read this Terms of Use policy carefully – by using the Website, the hangouts/video conferencing sessions and our social network links (henceforth referred to together as ‘Website’) you agree to our terms and conditions (including as amended from time to time). If, for any reason, you do not agree to the terms of this Terms of Use policy, please stop using the Website immediately.</p>
<p>Unless otherwise defined in this Terms of Use policy, terms used have the same meaning as in the <a href="/page/privacy">Privacy Policy</a>. The terms ‘Learning Circle’, ‘us’, ‘our’ and ‘we’ refer to the owner of the website Learning Circle I/O Ltd. Private Limited Company whose registered office is the United Kingdom. Our company number assigned by Companies House is 09715512. The term ‘you’ refers to the user or viewer of our website.</p>
<p>You can contact us using the <a href="/page/contact">Contact Us</a> section of the website.</p>
<p>The use of this website is subject to the following terms of use:</p>

<h4>1 - Content</h4>
<p>1.1 The content of the pages of this website is for your general information and educational use only. It is subject to change without notice.</p>
<p>1.2 Learning Circle tries to ensure that all information on the Website is accurate. If on the Website you find any inaccurate information please let us know by <a href="/page/contact">contacting us</a> and where we agree we will correct it as soon as practically possible.</p>
<p>1.3 From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</p>
<p>1.4 This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice (see section 3 below), which forms part of these Terms of Use.</p>

<h4>2 - How you use the site</h4>
<p>2.1 We are committed to creating a safe, educational environment. Please ensure that you have read and agree to abide by our <a href="/page/community">Community Standards</a> before interacting with this site, particularly once you have signed up for a course and are able to interact with other course participants.</p>
<p>2.2 While we aim to be as inclusive as possible, we reserve the right to revoke, without notice or explanation, access to member-only areas of the website to those who do not adhere to our community standards policy. Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</p>
<p>2.3 Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</p>

<h4>3 - Copyright</h4>
<p>3.1 Where material on the Website belongs to us, you may download information from the Website solely for your own personal and educational use. No copying, redistribution, retransmission, publication or commercial exploitation of downloaded material is allowed without our express permission, except as otherwise permitted under copyright law. If the material does not belong to us, please contact us to see the conditions under which this material may be used.</p>
<p>3.2 In the event of any permitted copying, redistribution or publication of copyright material, no changes in or deletion of author attribution, trademark legend or copyright notice shall be made without the relevant permission (i.e. from the copyright holder).</p>
<p>3.3 You acknowledge that you do not acquire any ownership rights by downloading copyrighted material.</p>

<h4>4 - How we use the site</h4>
<p>4.1 We use this site to provide a safe, educational environment. We will do all we can to ensure that this is the case, however neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
<p>4.2 Some course participant data for some of our courses may be used in the purposes of academic research. Please view our <a href="/page/privacy">Privacy Policy</a> for more information on this.</p>
<p>4.3 We use cookies to improve our website and provide an enhanced, personalised, learning environment. Please view our <a href="/page/privacy">Privacy Policy</a> for more information on how we use cookies.</p>

<h4>5 - Purchasing courses</h4>
<p>5.1 When you purchase a course on our website we will comply with the relevant legislation <a href="/page/privacy">(see our Privacy Policy)</a> to ensure that your payment details are processed and stored securely, for example by using a third-party payment service such as PayPal.</p>
<p>5.2 If you are unable to participate in a course you have paid for, inform us up to seven days before the course start-date and we will issue a full refund. Unfortunately, after seven days before the start-date of a course we will be unable to refund your payment, although we may be able to postpone your place on the course, so you can take part in a future Learning Circle course.</p>

<h4>6 - Legal jurisdiction</h4>
<p>6.1 Your use of this website and any dispute arising out of such use of the website is subject to the relevant laws of the United Kingdom of Great Britain and Northern Ireland.</p>

<h4>7 - Updating this Terms of Use policy</h4>
<p>7.1 We may update or amend this Terms of Use policy from time to time, to comply with law or to meet our changing business requirements, without notice to you. Any updates or amendments will be posted on the Terms of Use section of the Website.</p>
<p>7.2 By continuing to access the Website, you agree to be bound by the terms of these updates and amendments.</p>

            </div>
        </div>
    </div>
</template>
