<template name="static.values">

    {{#contentFor "header"}}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>About Us</h1>
            </div>
        </div>
    {{/contentFor}}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {{> staticAboutSidebar active='values'}}
            </div>
            <div class="col-sm-9">

<h4>Values</h4>
<p>Our mission at Learning Circle I/O Ltd. is: Learn, engage and create change with our online courses. We provide the space for students and participants to learn from experts, from each other, and from the vast amount of information that is available, primarily on the internet. Having created fertile ground for learning, we then encourage students to engage with issues or subjects, through undertaking regular assignments, which often involve real-world action. This helps to create change in the lives of students and those around them.</p>
<p>Our online courses are usually civics-focused, meaning we help students from all walks of life build the skills and networks needed to tackle global problems, starting with their local communities, while at the same time developing international and intercultural friendships through our interactive course format where students meet face-to-face with other course participants via regular small group video conferences.</p>

            </div>
        </div>
    </div>

</template>
